@model IEnumerable<MobileStore.Models.Phone>
@{
    ViewData["Title"] = "Product catalog";
}

<form method="post" action="~/Home/Square">
    <label>Height:</label><br/>
    <input type="number" name="height" /><br />
    <label>Altitude</label><br />
    <input type="number" name="altitude"/><br/>
    <input type="submit" name="Sent"/><br />
</form>

    <h3>Smartphones</h3>
    <table>
        <tr>
        <td>Model</td>
        <td>Company</td>
        <td>Price</td>
          <td></td>
        </tr>
        @foreach(var phone in Model)
        {
            <tr>
                <td>@phone.Name</td>
                <td>@phone.Company</td>
                <td>@phone.Price</td>
                <td><a href="~/Home/Buy/@phone.Id">Buy</a></td>
            </tr>
        }
    </table>
