
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title> Hello Asp .net MVC Core</title>
    <meta  charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
</head>
<body>
    <h2>Hi, Wolrd!</h2>
</body>
</html>
