@functions
{
    public int GetFactotial(int n)
    {
        int result = 1;
        for(int i = 1; i <= n; i++)
        {
            result *= i;
        }
        return result;
    }
}
@{
    ViewData["Title"] = "Contact";
    string head = "Hello world";
    bool isEnabled = false;
}
@if (isEnabled)
{
    <p>Welcome</p>
}
else
{
    <p>@head</p>
}
<div>Factiorial of number 6 is equal: @GetFactotial(6)</div>
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
