    <!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <footer>
        @if (IsSectionDefined("Footer"))
        {
            @RenderSection("Footer");
        }
        else
        {
            <span>Content of the footer element</span>
        }

    </footer>
</body>
</html>
